.story-block {
  padding: 0;
  margin: 0;
  list-style-type: none;
  li {
    margin: 0px 10px 20px 10px;
    display: inline-block;
    width: calc((100% / 3) - 20px);
    div {
      > div {
        &:first-child {
          text-align: center;
          background: #000;
          height: 200px;
          margin-bottom: 10px;
          label {
            line-height: 5;
            color: #fff;
          }
        }
        &:nth-child(2) {
          text-align: justify;
        }
      }
    }
  }
}

.story-inline {
  padding: 0;
  margin: 0;
  list-style-type: none;
  li {
    margin: 0px 10px 20px 10px;
    display: inline-block;
    width: calc((100% / 3) - 20px);
    div {
      > div {
        &.image {
          float: left;
          background-color: #000;
          width: 80px;
          height: 80px;
        }
        &.content {
          text-align: justify;
          float: left;
          margin-left: 5px;
          width: calc(100% - 85px);
          h3 {
            padding: 0;
            margin: 0 0 5px 0;
          }
        }
        &.no-image {
          text-align: justify;
          width: 100%;
          h3 {
            padding: 0;
            margin: 0 0 5px 0;
          }
        }
      }
    }
  }
}

.full-view {
  background: gray;
  color: white;
  padding: 2px;
  font-size: 12px;
}

.marginLeft5{
  margin-left: 5px;
}

@media only screen and (max-width: 767px) {
  .story-block {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      margin: 0 0 20px 0;
      display: block;
      width: 100%;
      div {
        > div {
          &:first-child {
            text-align: center;
            background: #000;
            height: 200px;
            margin-bottom: 10px;
            label {
              line-height: 5;
              color: #fff;
            }
          }
          &:nth-child(2) {
            text-align: justify;
          }
        }
      }
    }
  }

  .story-inline {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      margin: 0 0 20px 0;
      display: block;
      width: 100%;
      div {
        > div {
          &.image {
            float: left;
            background-color: #000;
            width: 80px;
            height: 80px;
          }
          &.content {
            text-align: justify;
            float: left;
            margin-left: 5px;
            width: calc(100% - 85px);
            h3 {
              padding: 0;
              margin: 0 0 5px 0;
            }
          }
        }
      }
    }
  }
  .marginLeft5{
    margin-left: 0;
  }
}
