<div *ngIf="desktop && !mobile" (window:resize)="onResize($event)" class="navigation">
  <div>
    <span>3M</span>Innovation
  </div>
  <nav>
    <ul>
      <li *ngFor="let navigation of navigationsListDesktop">
        <a>{{navigation.name}}</a>
      </li>
    </ul>
  </nav>
</div>

<div *ngIf="mobile && !desktop" (window:resize)="onResize($event)" class="navigation">
  <div>
    <span>3M</span>
    <li *ngFor="let navigation of navigationsListMobile">
      <a>{{navigation.name}}</a>
    </li>
  </div>
  <div>
    Home > Stories
  </div>
</div>