.tour-block {
  display: none;
}

@media only screen and (max-width: 767px) {
  .tour-block {
    display: block;
    padding: 0;
    margin: 0;
    list-style-type: none;
    border: 0.5px solid gray;
    li {
      margin: 0px 0px 20px 0px;
      display: block;
      width: 100%;
      div {
        div {
          height: 200px;
          margin-bottom: 10px;
          h3 {
            text-align: center;
            padding: 0 10px 10px 10px;
            margin: 10px 0 0 0;
          }
          p {
            text-align: justify;
            padding: 10px;
            margin: 0;
          }
          label {
            background: gray;
            color: white;
            padding: 2px;
            margin-left: 10px;
            font-size: 12px;
          }
        }
      }
    }
  }
}
